:root{
  --logo: #2b4ac7;
  --fuente_logo: 'Rubik', sans-serif;
  --texto_gris: #707e95;
  --fuente-gris:'Roboto', sans-serif;
  --azul-fuerte: #1f3e72;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

.padding-l20{
  padding-left: 20px;
}

.margin-g{
  margin: 3%;
}
  
.blue{
  color:var(--logo);
  font-weight: bolder;
}

.margin{
  margin: 40px 100px;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width:50%;
}
/* nav-bar */
.cabecero{
  display: flex;
  position: fixed;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: row;
  height: 120px;
  z-index: 1;
}  

.header{
  width: 100%;
  padding: 40px 100px;
}

.text-logo{
  font-family: var(--fuente_logo);
  color: var(--logo);
  font-size: 35px;
  font-weight: bolder;
}

.text-logo2{
  font-family: var(--fuente_logo);
  color: var(--azul-fuerte);
  font-size: 35px;
  font-weight: bolder;
}

.text-big{
  color: #707e95;
  font-size: 23px;
  line-height: 30px;
  font-family: var(--fuente-gris);
}

.logo{
  flex-grow: 10;
  font-weight: bold;
}

#menu{
    height: 100%;
    font-family: var(--fuente_logo);
    font-size: 20px;
    flex-grow: 2;
}
.menu2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 10px;
    align-content: center;
}
.menu2 a{
    padding: 20px;
    color: var(--texto_gris);
    margin: 10px;
}

.button{
  font-family: var(--fuente_logo);
  background-color: var(--logo);
  border: 0;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-left: 100px;
}
.button:hover{
  cursor:pointer;
}

/* contenedor */
.contenedor{
  display: flex;
  flex-direction: row;
}

.home-image{
  height: 700px;
  width: 50%;
}

#presentacion{
  position: absolute;
  top: 20%;
  left: 9%;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-family: var(--fuente-gris);
  color: var(--azul-fuerte);
}
/* card */
.rectangle-box{
  padding: 15px;
  border-radius: 10px;
  display: flex;
  position: absolute;
  margin-top: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 130px;
  width: 900px;
  top: 100%;
}

table{
  display: flex;
  flex-direction: row;
  width: 81%;
}

tr{
  align-items: center;
}

th {
  display: inline-flex;
  padding: 20px 92px 17px 15px;
}

td {
  display: inline-flex;
  padding: 0px 84px 20px 57px;
  align-items: center;
}

.img1{
  font-family: var(--fuente-gris);
  color:var(--texto_gris);
  padding-left: 20px;
  padding-right: 20px;
}

.container-button {
  order: 2;
  width: 20%;
  margin-top: 12px;
}

.rectangle-button {
  font-family: var(--fuente-gris);
  background-color: var(--logo);
  border: 0;
  margin: 9% 0% 0% 9%;
  padding: 15px 40px;
  border-radius: 5px;
  color: white;
}

.icon-container-down{
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  padding: 500px 0 0 200px;
}

.icon-container-down i{
  padding-right: 20px;
}

.text-info-table {
  color: var(--texto_gris);
  font-size: 16px;
  font-family: var(--fuente-gris);
  padding-left: 20;
}

/* imagenes-vacunas */
.vacunas{
  display: flex;
  justify-content: space-around;
}

.vacunas-img{
  height: 100px;
  width: 300px;
  margin-right: 50px;
}

/* cards */
#box-container{
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

#box-container .card{
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(31, 62, 114, 0.22);
}

#box-container .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.tittle-card{
  margin: 5% 0 5% 0;
  color: var(--azul-fuerte);
  font-size: 20px;
  font-family: var(--fuente-gris);
}

.text-card{
  margin: 5% 0 5% 0;
  color: var(--texto_gris);
  font-size: 16px;
  font-family: var(--fuente-gris);
  text-align: justify;
}

/* requerimientos */
.layout-row {
  display: flex;
  flex-direction: row;
}
.rectangle {
  border-radius: 10px;
  padding-left: 2%;
  display: flex;
  box-shadow: 2px 2px 5px rgb(31 62 114 / 22%);
  height: 60px;
  margin: 5%;
  width: 500px;
  align-items: center;
}

.rectangle-icon-title-mini {
  font-size: 15px;
  padding-left: 35px;
  flex-basis: 89%;
  font-family: var(--fuente-gris);
  color: var(--texto_gris);
}
#rectangle-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 500px;
  height: 125px;
  border-radius: 10px;
  margin: 5%;
  padding: 2% 0% 0% 2%;
  box-shadow: 2px 2px 5px rgb(31 62 114 / 22%);
}

.text-info-table {
  padding-right: 1%;
  margin: 1% 0% 1% 0%;
  margin-top: 1%;
  color: var(--texto_gris);
  font-size: 16px;
  font-family: var(--fuente-gris)
}
.requeriments-info {
  order: 2;
  margin-left: 50px;
}

#requerimets-img {
  order: 1;
  width: 50%;
}

/* contacto */
.cont-text {
  flex-basis: 50%;
}
.box-contacts {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.botton-grid {
  display: flex;
  margin-top: 50%;
  margin-right: 20%;
  box-shadow: 2px 2px 5px rgb(31 62 114 / 22%);
  padding: 20px 20px 20px 20px;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  align-content: center;
}

.container-svg {
  display: flex;
  align-items: self-start;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 150px;
  width: 250px;
  justify-content: center;
}
.title-box {
  margin: 5% 0 5% 0;
  color: var(--azul-fuerte);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.text-box {
  margin: 5% 0 5% 0;
  color: var(--texto_gris);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.box-botton-large{
  font-family: var(--fuente-gris);
  background-color: #f1f5ff;
  border: 0;
  margin-top: 10px;
  padding: 15px 55px;
  border-radius: 5px;
  color: var(--logo);
}
#box-botton-large-blue {
  font-family: var(--fuente-gris);
  background-color: var(--logo);
  border: 0;
  margin-top: 10px;
  padding: 15px 55px;
  border-radius: 5px;
  color: white;
}
.svg-text {
  padding-left: 3%;
}

/* footer */
.margin-t{
  margin-top: 20px;
}
footer {
  background-color: #eef3ff;
  display: flex;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.footer-row {
  display: flex;
  flex-direction: row;
}


.footer-brand-terms {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.terms {
  display: flex;
  height: 50%;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.text-grey{
  font-family: var(--fuente-gris);
  color: var(--texto_gris);
}